body {
    background-color: lightpink;
    vertical-align: middle;
    display: table-cell;
}

button {
    background-color: indigo;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

h2 {
    font-size: 200%;
}

#selectPatient {
    background-color: turquoise;
    color: black;
    font-size: 200%;
}

.poiret {
    font-family: 'Poiret One', cursive;
}
